@{
  Layout = "_Layout";
}

<div>
    <ul>
        @foreach (var author in Model)
        {
            <li><a href="/catalog/authors/@author.GetId()">@author.GetName()</li>    
        }
    </div>
</div>